/* font */
@font-face {
    font-family: 'Poppins';
    src: url(./font/Poppins/Poppins-Regular.ttf) format('truetype');
    font-style: regular;
    font-weight: 400;
  }
@font-face {
    font-family: 'Poppins';
    src: url('./font/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-style: semibold;
    font-weight: 600;
  }
@font-face { 
    font-family: 'Poppins';
    src: url(./font/Poppins/Poppins-Medium.ttf) format('truetype');
    font-style: medium;
    font-weight: 500;
}

/* global */
body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    background-color: #1F1F1F;
    max-width: 100%;
}

ul {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h2 {
    margin: 0;
}

.button {
    color: white;
    background-color: #2CDB3D;
    padding: 12px 27px;
    display: inline-block;
}

.button:visited {
    color: white;
}

/* divider */
.spacer-horizontal {
    padding-left: 40px;
    padding-right: 40px;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: red;
}

.line {
    border-top: 1px solid  #2CDB3D;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: 40px;
    margin-top: 40px;
}

/* links */
a:link {
    color: #2CDB3D;
    text-decoration: none;
}

a:visited {
    color: #2CDB3D;
}

a:hover {
    color: white;
}

/* header */
.header {
    padding-bottom: 40px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_right {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 30px;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 0;
    margin: 0;
}

/* hero-teaser */
.hero-teaser_inner {
    position: relative;
}

.hero-teaser_image {
    width: 100%;
    height: 100%;
}

.hero-teaser_content {
    position: absolute;
    bottom: 40px;
    left:40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-teaser-button {
    padding-top: 40px;
}

/*ausstellungen*/
.ausstellungen_inner{
    display: flex;
    gap: 40px;
}

.line-no-margin {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}

.ausstellungen_inner_content {
    position: relative;
}

.ausstellungen_inner-text{
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.ausstellungen_image-1, .ausstellungen_image-2 {
    height: 100%;
    width: 100%;
}

/*newsletter*/
.newsletter {
    background-color: #fff;
    color: #000;
}

/*footer*/
.footer_header {
    margin-left: 40px;
    margin-top: 40px;
}

.social_media {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
}